<h1><%= currentUser.firstname %>'s Profile Page</h1>

<div class="container">
  <div class="left">
    <img src="<%= currentUser.profile %>" alt="user profile pic">
    <p><strong>Name:</strong> <%= currentUser.firstname %> <%= currentUser.lastname %></p>
  </div>
  <div class="right">
    <p>
      <%= currentUser.firstname %> was born on <%= moment.utc(currentUser.birthday).format('MMMM Do YYYY') %> and goes by Chef <%= currentUser.username %>. You can email Chef <%= currentUser.username %> at <%= currentUser.email %>!
    </p>
    <hr>
    <h2><%= currentUser.firstname %>'s Bio</h2>
    <p><%= currentUser.bio %></p>
  </div>
</div>
