<!DOCTYPE>
<html>
  <head>
    <title>Cook With Me</title>
  </head>
  <body>
    <% recipes.forEach(result => { %>
    	<div>
    		<p><%= result.label %></p>
    		<img src="<%= result.image %>" alt="image of recipe result">
    		<br />
    		<p>This recipe will make <%= result.serving %> servings</p>
    		<a href="<%= result.url %>">Click here to view the recipe</a>
        <form method="POST" action="/favorites">
          <input type="hidden" value="<%= result.label %>" name="name">
          <input type="hidden" value="<%= result.image %>" name="image">
          <input type="hidden" value="<%= result.url %>" name="url">
          <input type="hidden" value="<%= result.serving %>" name="serving">
          <input type="submit" value="Add to favorites!">
        </form>
    	</div>
    <% }) %>
  </body>
</html>